<!DOCTYPE html>
<html ng-app="auditorii">
<head lang="en">
  <meta charset="UTF-8">
  <title>Classroom Management Page</title>
</head>
<body ng-controller="roomCtrl">
<h3 ng-bind-html="appTitle"></h3>

<div ng-show="rooms.length > 0">
<table>
  <thead>
  <tr>
    <th></th>
    <th>Number</th>
    <th>Title</th>
    <th>Curator</th>
    <th>Start Time</th>
  </tr>
  </thead>
  <tbody>
  <tr
      ng-class="{selected: room.selected}"
      ng-repeat="room in rooms">
    <td><input type="checkbox" ng-model="room.selected"/></td>
    <td><span ng-bind="room.number"></span></td>
    <td><span ng-bind="room.title"></span></td>
    <td><span ng-bind="room.curator"></span></td>
    <td><span ng-bind="room.startTime"></span></td>
  </tr>
  </tbody>
</table>
</div>
<div ng-hide="rooms.length > 0">
  The list of classrooms is empty
</div>
<hr/>

<form>
  <p>
    <label for="room_number">Room number:</label>
    <input
        type="text"
        id="room_number"
        ng-model="room.number"
        placeholder="Room #"
        />
  </p>

  <p>
    <label for="room_curator">Room curator:</label>
    <select
        ng-model="room.curator"
        id="room_curator"
        ng-options="curator for curator in curators"
        >
      Select curator
    </select>
  </p>

  <p>
    <label for="room_title">Room title:</label>
    <input
        type="text"
        id="room_title"
        ng-model="room.title"
        placeholder="Room Title"
        />
  </p>
</form>

<button
    ng-click="reserve(room)"
    ng-disabled="!room.number || !room.curator">
  Reserve
</button>

<alert
    topic="alertTopic"
    close="closeAlert()">
  You must provide the classroom number and room curator name!
</alert>

<!-- <alert
    ng-show="showAlert"
    topic="alertTopic"
    description="alertMessage"
    close="closeAlert()">
</alert>-->

<accordion-item title="432B">
  Mary Johnson
</accordion-item>
<accordion-item title="432C">
  Mary Johnson
</accordion-item>
<accordion-item title="432D">
  Mary Johnson
</accordion-item>


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="app/app.js"></script>
<script src="app/controllers.js"></script>
<script src="app/directives.js"></script>
</body>
</html>